*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex: 1;
    height: 5.5rem;
    background: linear-gradient(191deg, rgba(234,245,255,1) 0%, rgba(190,224,255,1) 47%, rgba(205,232,255,1) 100%);
}
.logo{
    flex: 1;
}

.logo img{
    height: 4.5rem;
    padding: .8rem;
    margin-left: 2rem;
}
.logo img:hover{
    cursor: pointer;
    height: 4.7rem;
    padding: .8rem;
    margin-left: 2rem;
}
.nav{
    flex: 1;
    
}
.nav ul {
    list-style: none;
    display: flex;
    margin:  0 auto;
    
    flex-direction: row;
    justify-content: center;
}
.nav ul li{
    align-items: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 600;
}

/**Main Body */
.main-page{
    
    height:88.5vh;
    background: rgb(234,245,255);
    background: linear-gradient(191deg, rgba(234,245,255,1) 0%, rgba(28,123,208,1) 20%, rgba(140,177,210,1) 47%, rgba(196,227,255,1) 68%, rgba(205,232,255,1) 100%);
    display: flex;
}
.home-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-title p{
    text-align: center;
    padding: 3rem;
    font-family: cursive;
    color: coral;
    font-weight: 600;
    font-size: large;
    
}
.home-title h1{
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow:4px 4px 12px pink;
}.home-title button{
    padding: 10px 15px;
    font-family: cursive;
    color: aliceblue;
    font-weight: 600;
    background: rgb(231,20,20);
background: linear-gradient(191deg, rgba(231,20,20,1) 0%, rgba(28,150,228,1) 47%, rgba(231,210,13,1) 100%);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 4px coral;
}
.home-image{
    flex: 1;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.home-image img{
    height: 20rem;
    transition: .5s;
}
.home-image img:hover{
    height: 20.5rem;
}
@media (max-width:800px) {
    .navbar{
      flex-direction: column;
    }
    }
    @media (max-width:800px) {
        .navbar .nav ul{
          flex-direction: column;
        }
        }

        @media (max-width:800px) {
            .main-page{
              flex-direction: column;
            }
            }
            @media (max-width:800px) {
                .home-title{
                  flex-direction: column;
                  margin-top: 400px;
                }
                }
                @media (max-width:800px) {
                    .home-image img{
                      
                      height: 40%;
                      
                    }
                    }
                    /**End of Home Page */






/**About Page */ 
.app-about{
    height: 60vh;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.about-image{
    flex: 1;
justify-content: center;
align-items: center;
display: flex;
}
.about-image img{
    height: 500px;
}
.about-title{
    flex: 1;
    justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
text-align: center;
padding: 30px;
margin: 20px;
}
.about-title img{
    overflow: hidden;
}
.about-title p{
    padding: 50px;

}
.about-title h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 52px;
    color: #749bdd;
    text-shadow: 2px 3px 4px #3f6db9 ;
}
@media (max-width:800px) {
    .app-about{
      flex-direction: column;
      margin-top: 500px;
    }
    }
    @media (max-width:800px) {
        .about-title img{
          width: 200px;
        }
        }
/**Team Section */
.team{
    display: flex;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    
    
}
.team-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.team-box h1{
    padding:20px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    color: #749bdd;
    text-shadow: 1px 2px 3px #3f6db9 ;
    padding-top: 100px;
}
.team-box p{
    
    
}
.team-box img{
    height: 400px;
}
@media (max-width:800px) {
    .team{
      flex-direction: column;
      margin-top: 600px;
    }
    }

/** App Features */
.app-features{
    height: 500px;
    display: flex;
    
    margin: 30px auto;
    width: 90%;
}
.features-box{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(191deg, rgba(234,245,255,1) 0%, rgba(190,224,255,1) 47%, rgba(205,232,255,1) 100%);
}
.features-box h1,p{
padding: 20px 20px;
}
.features-box img{
height: 20%;    
    
}
@media (max-width:800px) {
    .app-features{
      flex-direction: column;
      margin-top: 1000px;
    }
    }
    @media (max-width:800px) {
        .features-box{
          flex-direction: column;
          height: 400px;
          
        }
        }
/**image slider */
/**Second Image Slider */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

.Second-slider {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size:50px;
  font-family: dancing script;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width:800px) {
    .Second-slider{
      flex-direction: column;
      margin-top: 700px;
    }
    }

/**footer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(191deg, rgba(234,245,255,1) 0%, rgba(190,224,255,1) 47%, rgba(205,232,255,1) 100%);
    height: auto;
    width: 80vw;
    margin:  0 auto;
    padding-top: 40px;
    color: coral;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: coral;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: coral;
    border: 1px solid coral;
    padding: 10px;
    border-radius: 50%;
  }
  .footer-content img{
      width: 100%;
    height: 100px;
      
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  }
  
  .socials a:hover i{
    color: aqua;
  }
  .footer-bottom{
    background: linear-gradient(191deg, rgba(234,245,255,1) 0%, rgba(190,224,255,1) 47%, rgba(205,232,255,1) 100%);
    width: 80vw;
    margin:  0 auto;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
   color: black;
   font-size: 16px;
   text-decoration: none;
  }
  .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
  }
  .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: coral;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }