*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex: 1;
    height: 5.5rem;
    background: linear-gradient(191deg, rgba(234,245,255,1) 0%, rgba(190,224,255,1) 47%, rgba(205,232,255,1) 100%);
}
.logo{
    flex: 1;
}

.logo img{
    height: 4.5rem;
    padding: .8rem;
    margin-left: 2rem;
}
.logo img:hover{
    cursor: pointer;
    height: 4.7rem;
    padding: .8rem;
    margin-left: 2rem;
}
.nav{
    flex: 1;
    
}
.nav ul {
    list-style: none;
    display: flex;
    margin:  0 auto;
    
    flex-direction: row;
    justify-content: center;
}
.nav ul li{
    align-items: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 600;
}

/**Main Body */
.main-page{
    
    height:88.5vh;
    background: rgb(234,245,255);
    background: linear-gradient(191deg, rgba(234,245,255,1) 0%, rgba(28,123,208,1) 20%, rgba(140,177,210,1) 47%, rgba(196,227,255,1) 68%, rgba(205,232,255,1) 100%);
    display: flex;
}
.home-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-title p{
    text-align: center;
    padding: 3rem;
    font-family: cursive;
    color: coral;
    font-weight: 600;
    font-size: large;
    
}
.home-title h1{
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow:4px 4px 12px pink;
}.home-title button{
    padding: 10px 15px;
    font-family: cursive;
    color: aliceblue;
    font-weight: 600;
    background: rgb(231,20,20);
background: linear-gradient(191deg, rgba(231,20,20,1) 0%, rgba(28,150,228,1) 47%, rgba(231,210,13,1) 100%);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 4px coral;
}
.home-image{
    flex: 1;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.home-image img{
    height: 20rem;
    transition: .5s;
}
.home-image img:hover{
    height: 20.5rem;
}
@media (max-width:800px) {
    .navbar{
      flex-direction: column;
    }
    }
    @media (max-width:800px) {
        .navbar .nav ul{
          flex-direction: column;
        }
        }

        @media (max-width:800px) {
            .main-page{
              flex-direction: column;
            }
            }
            @media (max-width:800px) {
                .home-title{
                  flex-direction: column;
                  margin-top: 400px;
                }
                }
                @media (max-width:800px) {
                    .home-image img{
                      
                      height: 40%;
                      
                    }
                    }
                    /**End of Home Page */






/**About Page */ 
.app-about{
    height: 60vh;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.about-image{
    flex: 1;
justify-content: center;
align-items: center;
display: flex;
}
.about-image img{
    height: 500px;
}
.about-title{
    flex: 1;
    justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
text-align: center;
padding: 30px;
margin: 20px;
}
.about-title img{
    overflow: hidden;
}
.about-title p{
    padding: 50px;

}
.about-title h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 52px;
    color: #749bdd;
    text-shadow: 2px 3px 4px #3f6db9 ;
}
@media (max-width:800px) {
    .app-about{
      flex-direction: column;
      margin-top: 500px;
    }
    }
    @media (max-width:800px) {
        .about-title img{
          width: 200px;
        }
        }
/**Team Section */
.team{
    display: flex;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    
    
}
.team-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.team-box h1{
    padding:20px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    color: #749bdd;
    text-shadow: 1px 2px 3px #3f6db9 ;
    padding-top: 100px;
}
.team-box p{
    
    
}
.team-box img{
    height: 400px;
}
@media (max-width:800px) {
    .team{
      flex-direction: column;
      margin-top: 600px;
    }
    }